<footer class="footer">
    <div class="footer-container container">
        <div class="social-media">
            <ul class="list">
                <li class="list-item">
                    <a href="" class="list-link">
                        <i class="bx bxl-twitter"></i>
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="list-link">
                        <i class="bx bxl-linkedin"></i>
                    </a>
                </li>
                <li class="list-item">
                    <a href="" class="list-link">
                        <i class="bx bxl-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <span>&copy; 2023 Alejandro Nava</span>
        <a href="#home" class="scroll-top">
            <i class="bx bx-chevron-up"></i> Regresar al inicio
        </a>
    </div>
</footer>