
<header class="header" id="home">
    <nav class="navbar container">
        <a href="./" class="logo">Curso</a>
        <div class="navbar-buttons"> <!-- solo botones de navegacion-->
            <button type="button" class="button icon-button menu-toggle-button">
                <i class="bx bx-menu open-icon"></i>
                <i class="bx bx-x close-icon"></i>
            </button>
            <button type="button" class="button icon-button theme-toggle-button">
                <i class="bx bx-toggle-left theme-off"></i>
                <i class="bx bx-toggle-right theme-on"></i>
            </button>
        </div>
        <div class="menu">
            <ul class="list">
                <li class="list-item">
                    <a href="./" class="list-link">
                        <span>01</span> Acerca del curso
                    </a>
                </li>
                <li class="list-item">
                    <a href="./contenido" class="list-link">
                        <span>02</span> Indice
                    </a>
                </li>
                <li class="list-item">
                    <a href="./" class="list-link">
                        <span>03</span> Documentacion
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>