<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed - Bruno</title>
    <!-- !BOX ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- !SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- !Nuestro CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- !HEADER -->

    <%- include('partials/nav') %>
        <!-- !Projecto-->
        <section class="hero section">
            <div class="container">
                <h1 class="title main-title"> Contenido del Curso
                </h1>
            </div>
        </section>
        <!-- !AAcerca de -->
        <section class="about-me section" id="about-me">
            <div class="container">
                <div class="section-description d-grid">
                    <div class="scroll-reveal-left">
                        <p class="description">
                            Una guía de estudio interactivo para reforzar los temas más necesarios de <span
                                class="text-bold">HTML,
                                CSS y JS</span> para preparar al alumno en el uso de frameworks modernos y cumplir la
                            misión
                            de la UA de
                            Programación Web de la Carrera de <span class="text-bold">Ingeniería en Informática.</span>
                        </p>
                    </div>
                    <div class="scroll-reveal-right">
                        <div class="description-image has-sparkles">
                            <img src="\images\becomes-co-7oBmQz4bfrQ-unsplash.jpg"
                                alt="Imagen de dos personas en frente de un computador">
                        </div>
                    </div>
                </div>
        </section>
        <!-- !PORTFOLIO SECTION -->
        <section class="portafolio section" id="portafolio">
            <div class="container">
                <div class="section-title-container">
                    <h2 class="title section-title">Secciones</h2>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">02</span>
                        <h5 class="title section-subtitle">Unidades</h5>
                    </div>
                </div>
            </div>
        </section>
        <!-- !CONTACT SECTION -->

        <!-- !FOOTER -->
        <%- include('partials/footer') %>
        <!-- !MY SCRIPT -->
        <script src="/js/app.js"></script>
</body>

</html>