<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed - Bruno</title>
    <!-- !BOX ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- !SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- !Nuestro CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- !HEADER -->

    <%- include('partials/nav') %>
        <!-- !Projecto-->
        <section class="hero section">
            <div class="container">
                <h1 class="title main-title"> Indice del Curso
                </h1>
            </div>
        </section>
        <!-- !AAcerca de -->
        <!-- !PORTFOLIO SECTION -->
        <section class="portafolio section" id="portafolio">
            <div class="container">
                <div class="section-title-container">
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">01</span>
                        <h5 class="title section-subtitle">Introduccion</h5>
                    </div>
                    <div>
                        <ul >
                            <li class="description">
                                La programacion Web
                            </li>
                            <li class="description">
                                EL internet
                            </li>
                            <li class="description">
                                Paginas Web
                            </li>
                            <li class="description">
                                Front-end, Back-End y Stacks
                            </li>
                            <li class="description">
                                Git y Github
                            </li>
                            <li class="description">
                                Herramientas para el curso
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">02</span>
                        <h5 class="title section-subtitle">HTML: El contenido</h5>
                    </div>
                    <div>
                        <ul >
                            <li class="description">
                                Etiquetas
                            </li>
                            <li class="description">
                                Elementos
                            </li>
                            <li class="description">
                                Atributos
                            </li>
                            <li class="description">
                                Cabecera y Metadatos
                            </li>
                            <li class="description">
                                Texto y Listas
                            </li>
                            <li class="description">
                                Formas e Inputs
                            </li>
                            <li class="description">
                                Estructura de una Pagina
                            </li>
                            <li class="description">
                                HTML Semantico
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">03</span>
                        <h5 class="title section-subtitle">CSS: Los Estilos</h5>
                    </div>
                    <div>
                        <ul >
                            <li class="description">
                                Sintaxis, Cascada y selectores de CSS
                            </li>
                            <li class="description">
                                Valores porcentajes y aplicacion de estilos
                            </li>
                            <li class="description">
                                Texto, Colores e imagenes
                            </li>
                            <li class="description">
                                Cabecera y Metadatos
                            </li>
                            <li class="description">
                                Modelo de Caja
                            </li>
                            <li class="description">
                                Layouts
                            </li>
                            <li class="description">
                                Flexbox
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">04</span>
                        <h5 class="title section-subtitle">JS: la Funcionalidad</h5>
                    </div>
                    <div>
                        <ul >
                            <li class="description">
                                Tipos de Dato y Variables
                            </li>
                            <li class="description">
                                Operaciones Logicas y Matematicas
                            </li>
                            <li class="description">
                                Ciclos
                            </li>
                            <li class="description">
                                Funciones
                            </li>
                            <li class="description">
                                Strings y sus metodos
                            </li>
                            <li class="description">
                                Arrays
                            </li>
                            <li class="description">
                                Objetos
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">05</span>
                        <h5 class="title section-subtitle">EL DOM</h5>
                    </div>
                    <div>
                        <ul >
                            <li class="description">
                                El arbol del dom
                            </li>
                            <li class="description">
                                Elementos
                            </li>
                            <li class="description">
                                Acceso a elemntos del dom
                            </li>
                            <li class="description">
                                Manipulacion de elementos de DOM
                            </li>
                            <li class="description">
                                Eventos, callbacks y AJAX
                            </li>
                            <li class="description">
                                JSON
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">06</span>
                        <h5 class="title section-subtitle">Extras</h5>
                    </div>
                    <div>
                        <ul >
                            <li class="description">
                                NODE.js
                            </li>
                            <li class="description">
                                Express
                            </li>
                            <li class="description">
                                Bootstrap
                            </li>
                            <li class="description">
                                Despliegue
                            </li>
                            <li class="description">
                                Proyecto Final
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- !CONTACT SECTION -->

        <!-- !FOOTER -->
        <%- include('partials/footer') %>
        <!-- !MY SCRIPT -->
        <script src="/js/app.js"></script>
</body>

</html>