<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed - Bruno</title>
    <!-- !BOX ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- !SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- !Nuestro CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- !HEADER -->

    <%- include('partials/nav') %>
        <!-- !Projecto-->
        <section class="hero section">
            <div class="container">
                <h1 class="title main-title"> Indice del Curso
                </h1>
            </div>
        </section>
        <!-- !AAcerca de -->
        <!-- !PORTFOLIO SECTION -->
        <section class="portafolio section" id="portafolio">
            <div class="container">
                <div class="section-title-container">
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">01</span>
                        <h5 class="title section-subtitle">Introduccion</h5>
                    </div>
                    <div>
                        <ul>
                            <li class="description">
                                <a href="/web">
                                    La programacion Web
                                </a>
                            </li>
                            <li class="description">
                                <a href="/internet">
                                    El internet
                                </a>
                            </li>
                            <li class="description">
                                <a href="/paginas">
                                    Paginas Web
                                </a>
                            </li>
                            <li class="description">
                                <a href="/stack">
                                    Front-end, Back-End y Stacks
                                </a>
                            </li>
                            <li class="description">
                                <a href="/git">
                                    Git y Github
                                </a>
                            </li>
                            <li class="description">
                                <a href="/heramientas">
                                    Herramientas para el curso
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">02</span>
                        <h5 class="title section-subtitle">HTML: El contenido</h5>
                    </div>
                    <div>
                        <ul>
                            <li class="description">
                                <a href="/etiquetas">Etiquetas</a>
                            </li>
                            <li class="description">
                                <a href="/elementos">Elementos</a>
                            </li>
                            <li class="description">
                                <a href="/atributos">Atributos</a>
                            </li>
                            <li class="description">
                                <a href="/cabecera">Cabecera y Metadatos</a>
                            </li>
                            <li class="description">
                                <a href="/texto">Texto y Listas</a>
                            </li>
                            <li class="description">
                                <a href="/formas">Formas e Inputs</a>
                            </li>
                            <li class="description">
                                <a href="/estructuras">Estructura de una Pagina</a>
                            </li>
                            <li class="description">
                                <a href="/semantico">HTML Semantico</a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">03</span>
                        <h5 class="title section-subtitle">CSS: Los Estilos</h5>
                    </div>
                    <div>
                        <ul>
                            <li class="description">
                                <a href="/">Sintaxis, Cascada y selectores de CSS</a>
                            </li>
                            <li class="description">
                                <a href="/">Valores porcentajes y aplicacion de estilos</a>
                            </li>
                            <li class="description">
                                <a href="/">Texto, Colores e imagenes</a>
                            </li>
                            <li class="description">
                                <a href="/">Cabecera y Metadatos</a>
                            </li>
                            <li class="description">
                                <a href="/">Modelo de Caja</a>
                            </li>
                            <li class="description">
                                <a href="/">Layouts </a>
                            </li>
                            <li class="description">
                                <a href="/">Flexbox</a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">04</span>
                        <h5 class="title section-subtitle">JS: la Funcionalidad</h5>
                    </div>
                    <div>
                        <ul>
                            <li class="description">
                                <a href="/">Tipos de Dato y Variables</a>
                            </li>
                            <li class="description">
                                <a href="/"> Operaciones Logicas y Matematicas</a>
                            </li>
                            <li class="description">
                                <a href="/"> Ciclos</a>
                            </li>
                            <li class="description">
                                <a href="/"> Funciones</a>
                            </li>
                            <li class="description">
                                <a href="/"> Strings y sus metodos</a>
                            </li>
                            <li class="description">
                                <a href="/"> Arrays</a>
                            </li>
                            <li class="description">
                                <a href="/"> Objetos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">05</span>
                        <h5 class="title section-subtitle">EL DOM</h5>
                    </div>
                    <div>
                        <ul>
                            <li class="description">
                                <a href="/">El arbol del dom</a>
                            </li>
                            <li class="description">
                                <a href="/"> Elementos</a>
                            </li>
                            <li class="description">
                                <a href="/"> Acceso a elemntos del dom</a>
                            </li>
                            <li class="description">
                                <a href="/"> Manipulacion de elementos de DOM</a>
                            </li>
                            <li class="description">
                                <a href="/"> Eventos, callbacks y AJAX</a>
                            </li>
                            <li class="description">
                                <a href="/"> JSON</a>
                            </li>
                        </ul>
                    </div>
                    <div class="section-subtitle-container">
                        <span class="subtitle-number">06</span>
                        <h5 class="title section-subtitle">Extras</h5>
                    </div>
                    <div>
                        <ul>
                            <li class="description">
                                <a href="/"> NODE.js</a>
                            </li>
                            <li class="description">
                                <a href="/"> Express</a>
                            </li>
                            <li class="description">
                                <a href="/"> Bootstrap</a>
                            </li>
                            <li class="description">
                                <a href="/"> Despliegue</a>
                            </li>
                            <li class="description">
                                <a href="/"> Proyecto Final</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- !CONTACT SECTION -->
        <!-- !FOOTER -->
        <%- include('partials/footer') %>
            <!-- !MY SCRIPT -->
            <script src="/js/app.js"></script>
</body>

</html>