<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed - Bruno</title>
    <!-- !BOX ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- !SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <!-- !Nuestro CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- !HEADER -->
    <%- include('partials/nav') %>
    <!-- !Projecto-->
    <section class="hero section">
        <div class="container">
            <h1 class="title main-title">
                Material de <span class="inline-image has-sparkles"></span>
                <br>apoyo para
                <br>Programacion We<span class="has-sparkles-alt">b</span>
            </h1>
        </div>
    </section>
    <!-- !AAcerca de -->
    <section class="about-me section" id="about-me">
        <div class="container">
            <div class="section-description d-grid">
                <div class="scroll-reveal-left">
                    <p class="description">
                        Una guía de estudio interactivo para reforzar los temas más necesarios de <span
                            class="text-bold">HTML,
                            CSS y JS</span> para preparar al alumno en el uso de frameworks modernos y cumplir la misión
                        de la UA de
                        Programación Web de la Carrera de <span class="text-bold">Ingeniería en Informática.</span>
                    </p>
                </div>
                <div class="scroll-reveal-right">
                    <div class="description-image has-sparkles">
                        <img src="\images\becomes-co-7oBmQz4bfrQ-unsplash.jpg"
                            alt="Imagen de dos personas en frente de un computador">
                    </div>
                </div>
            </div>
            <div class="tech-stack d-grid">
                <div class="tech-stack-item" data-tooltip="HTML5">
                    <i class="bx bxl-html5"></i>
                </div>
                <div class="tech-stack-item" data-tooltip="CSS">
                    <i class="bx bxl-css3"></i>
                </div>
                <div class="tech-stack-item" data-tooltip="JavaScript">
                    <i class="bx bxl-javascript"></i>
                </div>
                <div class="tech-stack-item" data-tooltip="Node.js">
                    <i class="bx bxl-nodejs"></i>
                </div>
                <div class="tech-stack-item" data-tooltip="GitHub">
                    <i class="bx bxl-github"></i>
                </div>
                <div class="tech-stack-item" data-tooltip="React">
                    <i class="bx bxl-react"></i>
                </div>
                <div class="tech-stack-item" data-tooltip="Figma">
                    <i class="bx bxl-figma"></i>
                </div>
            </div>
    </section>
    <!-- !PORTFOLIO SECTION -->
    <section class="portafolio section" id="portafolio">
        <div class="container">
            <div class="section-title-container">
                <h2 class="title section-title">Secciones</h2>
                <div class="section-subtitle-container">
                    <span class="subtitle-number">02</span>
                    <h5 class="title section-subtitle">Unidades</h5>
                </div>
            </div>
            <!-- !PORTFOLIO CARDS -->
            <div class="portafolio-cards d-grid">
                <a href="#" class="portafolio-card portafolio-card-1">
                    <div class="card-image">
                        <img src="\images\marvin-meyer-SYTO3xs06fU-unsplash.jpg"
                            alt="varias personas sentadas en una mesa programando">
                    </div>
                    <div class="hard-heading">
                        <h5 class="card-title">HTML</h5>
                        <span class="card-subtitle">Inicio del Curso</span>
                    </div>
                </a>
                <a href="#" class="portafolio-card portafolio-card-2">
                    <div class="card-image">
                        <img src="\images\sam-moghadam-khamseh-KJ241ZAOYwU-unsplash.jpg"
                            alt="varias personas sentadas en una mesa programando">
                    </div>
                    <div class="hard-heading">
                        <h5 class="card-title">CSS</h5>
                        <span class="card-subtitle">Estilos y Diseno de paginas</span>
                    </div>
                </a>
                <a href="#" class="portafolio-card portafolio-card-3">
                    <div class="card-image">
                        <img src="\images\farzad-p-xSl33Wxyc-unsplash.jpg"
                            alt="varias personas sentadas en una mesa programando">
                    </div>
                    <div class="hard-heading">
                        <h5 class="card-title">HTML</h5>
                        <span class="card-subtitle">Inicio del Curso</span>
                    </div>
                </a>
                <a href="#" class="portafolio-card portafolio-card-4">
                    <div class="card-image">
                        <img src="\images\markus-spiske-8OyKWQgBsKQ-unsplash.jpg"
                            alt="varias personas sentadas en una mesa programando">
                    </div>
                    <div class="hard-heading">
                        <h5 class="card-title">JavaScript</h5>
                        <span class="card-subtitle">Funcionalidad para paginas web</span>
                    </div>
                </a>
                <a href="#" class="portafolio-card portafolio-card-5">
                    <div class="card-image">
                        <img src="\images\christopher-gower-m_HRfLhgABo-unsplash.jpg"
                            alt="varias personas sentadas en una mesa programando">
                    </div>
                    <div class="hard-heading">
                        <h5 class="card-title">Inenieria de software</h5>
                        <span class="card-subtitle">Todo sobre como crear un proyecto</span>
                    </div>
                </a>
                <div class="portafolio-card portafolio-card-6 large-button-container">
                    <a href="#" class="large-button button-fill">
                        ver
                        <br>
                        todos
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- !CONTACT SECTION -->
    <section class="get-in-touch section" id="contact">
        <div class="container">
            <div class="section-title-container">
                <h2 class="title section-title">Contacto</h2>
                <div class="section-subtitle-container">
                    <span class="subtitle-number">03</span>
                    <h5 class="title section-subtitle"> Sugerencias</h5>
                </div>
            </div>
            <div class="section-description d-grid">
                <div class="scroll-reveal-left">
                    <p class="description" style="width: 95%;">
                        Si tienes alguna sugerencia, queja o comentario sobre la página, no dudes en ponerte en contacto
                        con
                        nosotros. Estaremos encantados de recibir tus comentarios y hacer todo lo posible para mejorar
                        tu
                        experiencia.</span>
                    </p>
                </div>
                <div class="scroll-reveal-right">
                    <div class="description-image ">
                        <img src="\images\programacion-web-barcelona.jpg"
                            alt="Imagen de dos personas en frente de un computador">
                    </div>
                </div>
            </div>
            <div class="form-container">
                <form action="" class="contact-form">
                    <div class="input-group">
                        <div class="input">
                            <input type="text" id="name" placeholder="Alejandro" required>
                            <label for="name" class="input-label"> Tu nombre
                                <span class="required-field">*</span> </label>
                        </div>
                        <div class="input">
                            <input type="email" id="email" placeholder="memes@gmail.com" required>
                            <label for="email" class="input-label"> Tu correo
                                <span class="required-field">*</span> </label>
                        </div>
                        <div class="input">
                            <input type="text" id="message" placeholder="Alejandro" required>
                            <label for="message" class="input-label"> Tu mensaje
                                <span class="required-field">*</span> </label>
                        </div>
                        <div id="buton-send">
                            <button type="submit" class="button form-button ">Mandar Mensaje</button>
                        </div>

                    </div>
                </form>

            </div>
    </section>
    <!-- If <span class="text-bold">you</span> would like to work <span class="text-bold">together</span> on a <span class="text-bold">project</span>, please fill out the <span class="text-bold">form</span> below. I can't wait to turn your <span class="text-bold">ideas</span> into <span class="text-bold">reality</span>! -->

    <!-- !FOOTER -->
    <%- include('partials/footer') %>
    <!-- !MY SCRIPT -->
    <script src="/js/app.js"></script>
</body>

</html>