<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            <main class="container">
                <h3 style="text-align: justify;">Git</h3>
                <p class="texto" tyle="text-align: justify;">Git es un sistema de control de versiones distribuido ampliamente
                    utilizado para el seguimiento de cambios en archivos y coordinar el trabajo en proyectos de
                    desarrollo de software. Fue creado por Linus Torvalds en 2005 y se ha convertido en una herramienta
                    fundamental en el desarrollo de software colaborativo.</p>
                <p  class="texto" style="text-align: justify;">Git permite a los desarrolladores realizar un seguimiento de las
                    modificaciones realizadas en sus archivos a lo largo del tiempo, lo que facilita la
                    colaboraci&oacute;n en equipos de desarrollo, la gesti&oacute;n de ramas para trabajar en paralelo,
                    la fusi&oacute;n de cambios, la reversi&oacute;n de modificaciones y la gesti&oacute;n de versiones
                    estables del c&oacute;digo. Al emplear Git, los desarrolladores pueden trabajar en sus propias
                    copias locales de un repositorio de c&oacute;digo y luego sincronizar los cambios con un repositorio
                    central o remoto. Esto permite un flujo de trabajo descentralizado y flexible, donde cada
                    desarrollador puede trabajar de manera independiente y luego fusionar sus cambios con el repositorio
                    principal.</p>
                <p  class="texto" style="text-align: justify;">Git utiliza un sistema de historial de cambios basado en commits, que
                    son instant&aacute;neas de los archivos en un momento determinado. Cada commit tiene un
                    identificador &uacute;nico y contiene informaci&oacute;n sobre el autor, la fecha y el mensaje de
                    descripci&oacute;n. Esto permite un seguimiento preciso de los cambios y facilita la
                    navegaci&oacute;n por el historial del proyecto. Adem&aacute;s, Git ofrece funcionalidades como
                    ramas (branches), etiquetas (tags), fusi&oacute;n (merge), resoluci&oacute;n de conflictos en
                    trabajo colaborativo y muchas otras caracter&iacute;sticas que ayudan&nbsp; a los desarrolladores a
                    trabajar de manera m&aacute;s eficiente.</p>
                <h3 style="text-align: justify;">Github</h3>
                <p  class="texto" style="text-align: justify;">GitHub es una plataforma basada en la web donde los usuarios pueden
                    alojar repositorios Git. Facilita compartir y colaborar f&aacute;cilmente en proyectos con cualquier
                    persona en cualquier momento. GitHub tambi&eacute;n fomenta una participaci&oacute;n m&aacute;s
                    amplia en proyectos C&oacute;digo Abierto al proporcionar una manera segura de editar archivos en
                    repositorios de otros usuarios.</p>
                <p class="texto"  style="text-align: justify;">Github tambi&eacute;n ofrece una serie de herramientas propias con las
                    que complementar las ventajas que ya tiene el sistema Git de por s&iacute; solo. Por ejemplo, se
                    puede crear una Wiki para cada proyecto, de forma que pueda ofrecer toda la informaci&oacute;n sobre
                    &eacute;l y anotar todos los cambios de las diferentes versiones. Tambi&eacute;n tiene un sistema de
                    seguimiento de problemas, para que otras personas puedan hacer mejoras, sugerencias y optimizaciones
                    en los proyectos.</p>
                <p class="texto"  style="text-align: justify;">Ofrece tambi&eacute;n una herramienta de revisi&oacute;n de
                    c&oacute;digo, de forma que no s&oacute;lo se pueda mirar el c&oacute;digo fuente de una
                    herramienta, sino que tambi&eacute;n se pueden dejar anotaciones para que su creador o alg&uacute;n
                    desarrollador las pueda revisar.</p>
            </main>
            <%- include('partials/footer') %>
                <script src="/js/app.js"></script>
    </body>

    </html>