<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            <main class="container">

                <h3 style="text-align: justify;">Internet</h3>
                <p class="texto" style="text-align: left;">Internet es una red internacional de ordenadores conectados. Ninguna
                    empresa es propietaria de Internet; se trata de un esfuerzo cooperativo regido por un sistema de
                    normas y reglas. El objetivo de conectar ordenadores es, por supuesto, compartir informaci&oacute;n.
                </p>
                <p class="texto"style="text-align: left;">Hay muchas formas de transmitir informaci&oacute;n entre ordenadores, como
                    el correo electr&oacute;nico (POP3/IMAP/SMTP), la transferencia de archivos (FTP), el shell seguro
                    (SSH) y muchos otros modos especializados sobre los que se construye Internet. Estos m&eacute;todos
                    estandarizados para transferir datos o documentos a trav&eacute;s de una red se conocen como
                    protocolos.</p>
                <p class="texto"style="text-align: left;">&nbsp;HTTP es el conjunto de reglas que define como sucede esta
                    comunicaci&oacute;n, t&eacute;cnicamente es el protocolo (TCP/IP) base que permite que los clientes
                    (navegador web) y los servidores web se comuniquen entre s&iacute; para solicitar y enviar recursos,
                    como p&aacute;ginas web, im&aacute;genes, videos y otros archivos. HTTP se basa en el modelo
                    cliente-servidor, donde el cliente (generalmente un navegador web) realiza una solicitud a un
                    servidor y espera una respuesta.</p>
                <p class="texto"style="text-align: left;">La solicitud del cliente incluye un m&eacute;todo
                    (como&nbsp;<code> GET, POST, PUT, DELETE</code>) que indica el tipo de acci&oacute;n que desea
                    realizar, as&iacute; como la URL del recurso solicitado. Cuando el servidor recibe la solicitud,
                    procesa la solicitud y env&iacute;a una respuesta al cliente. La respuesta del servidor incluye un
                    c&oacute;digo de estado que indica si la solicitud fue exitosa (como 200 OK, o 404 no existe).</p>
                <p class="texto"style="text-align: left;">El Consorcio World Wide Web (abreviado W3C) es la organizaci&oacute;n que
                    supervisa el desarrollo de tecnolog&iacute;as web como HTML, CSS y JavaScript. El grupo fue fundado
                    en 1994 por Tim Berners-Lee, el inventor de la web, en el Instituto Tecnol&oacute;gico de
                    Massachusetts (MIT). Al principio, el W3C se ocupaba sobre todo del protocolo HTTP y del desarrollo
                    de HTML. Ahora, el W3C est&aacute; sentando las bases del futuro de la web mediante el desarrollo de
                    decenas de tecnolog&iacute;as y protocolos que deben funcionar juntos en una infraestructura
                    s&oacute;lida.</p>
            </main>
            <%- include('partials/footer') %>
                <script src="/js/app.js"></script>
    </body>

    </html>