<%- include('partials/head') %>
    <body>
        <%- include('partials/nav') %>
            <main class="container">
                <h3 style="text-align: justify;">P&aacute;ginas Web</h3>
                <p class="texto" style="text-align: justify;">Una p&aacute;gina web es un documento electr&oacute;nico que se
                    encuentra en el Internet y que puede ser accedido mediante un navegador web. Es la unidad
                    b&aacute;sica de informaci&oacute;n en l&iacute;nea y est&aacute; compuesta por contenido
                    multimedia, como texto, im&aacute;genes, videos y otros elementos interactivos.</p>
                <p class="texto" style="text-align: justify;">Para representar p&aacute;ginas web se emplea un navegador web (Chrome,
                    IE, Edge Firefox, etc.) La funci&oacute;n principal de un navegador es presentar el recurso web
                    elegido, solicit&aacute;ndolo al servidor y mostr&aacute;ndolo en la ventana del navegador. El
                    recurso suele ser un documento HTML, pero tambi&eacute;n puede ser un PDF, una imagen u otro tipo de
                    contenido. El usuario especifica la ubicaci&oacute;n del recurso mediante un URI (Identificador
                    Uniforme de Recursos).</p>
                <p class="texto" style="text-align: justify;">Para las p&aacute;ginas web el documento principal es el archivo HTML,
                    pero tambi&eacute;n suele incluir archivos CSS para estilos y JS para funcionalidad en el lenguaje
                    JavaScript, adem&aacute;s de archivos adicionales. Una p&aacute;gina web puede ser est&aacute;tica o
                    din&aacute;mica. Una p&aacute;gina web est&aacute;tica muestra el mismo contenido a todos los
                    usuarios y no cambia con el tiempo, mientras que una p&aacute;gina web din&aacute;mica puede
                    adaptarse al usuario, mostrar contenido personalizado y actualizarse en tiempo real mediante la
                    interacci&oacute;n con una base de datos u otros servicios v&iacute;a lenguaje de
                    programaci&oacute;n JavaScript en el front-end y diversas opciones de lenguajes(JS, Java, Python)
                    para la funcionalidad en back-end.</p>
                <p class="texto" style="text-align: justify;">Las p&aacute;ginas web est&aacute;n organizadas en sitios web (archivos
                    HTML), que son colecciones de p&aacute;ginas web interconectadas mediante enlaces. Los sitios web
                    pueden tener una estructura jer&aacute;rquica, con una p&aacute;gina de inicio (Index) que sirve
                    como punto de entrada principal, y varias p&aacute;ginas secundarias organizadas en directorios o
                    secciones.</p>
            </main>
            <%- include('partials/footer') %>
                <script src="/js/app.js"></script>
    </body>

    </html>