<%- include('partials/head') %>

    <body>
        <%- include('partials/nav') %>
            <main class="container">

                <h2 style="text-align: justify;">Programaci&oacute;n web</h2>
                <p class="texto"style="text-align: justify;">La programaci&oacute;n web es el conjunto de t&eacute;cnicas y
                    habilidades usadas para desarrollar aplicaciones y sitios web interactivos. Implica la escritura de
                    c&oacute;digo utilizando diferentes lenguajes de programaci&oacute;n, como HTML, CSS y JavaScript,
                    para crear la estructura, el dise&ntilde;o y la funcionalidad de las p&aacute;ginas web.</p>
                <p class="texto"style="text-align: justify;">HTML se usa para definir la estructura y el contenido de una
                    p&aacute;gina web. Se emplea para ocasionar elementos como encabezados, p&aacute;rrafos, listas,
                    tablas, enlaces y otros elementos de contenido.</p>
                <p class="texto" style="text-align: justify;">CSS se utiliza para controlar el aspecto visual y el dise&ntilde;o de
                    una p&aacute;gina web. Permite aplicar estilos, como colores, fuentes, m&aacute;rgenes y
                    tama&ntilde;os, a los elementos HTML, lo que ayuda a producir dise&ntilde;os atractivos y coherentes
                    en toda la aplicaci&oacute;n web.</p>
                <p class="texto" style="text-align: justify;">JavaScript es un lenguaje de programaci&oacute;n de alto nivel que se
                    emplea para agregar interactividad y funcionalidad din&aacute;mica a una p&aacute;gina web. Con
                    JavaScript, es posible realizar acciones como validaci&oacute;n de formularios, manipulaci&oacute;n
                    del contenido de la p&aacute;gina, animaciones, interacci&oacute;n con el usuario y
                    comunicaci&oacute;n con servidores.</p>
                <p class="texto" style="text-align: justify;">Adem&aacute;s de estos lenguajes principales, la programaci&oacute;n web
                    tambi&eacute;n implica el uso de frameworks y bibliotecas populares, como React, Angular y Vue.js,
                    que proporcionan herramientas y componentes predefinidos para acelerar el desarrollo y mejorar la
                    eficiencia.</p>

            </main>
            <%- include('partials/footer') %>
                <script src="/js/app.js"></script>
    </body>

    </html>